<!DOCTYPE html>
<html lang="en">
{%include "header.html"%}
    <body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
        {%include "navbar.html"%}   
        <section id="about" class="container tech text-center">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>About Me</h2>
                    <img style="width:30%;padding-bottom:20px;" src="static/img/me.png">
                    <p>Jessica majored computer science at Columbia University and is currently working at Etsy as a software engineer in the data engineering team. anything Ai related specifically with machine learning/deep learning, robotics, and computer vision. She also enjoys fine arts and design and writing songs and throwing herself out into the forests to strengthen her survival skills. She once opened for Maroon 5.</p>
                  <img src="static/img/boatman.jpg" style="width:60%;">
                  Picture of someone I took in China.
                </div>
            </div>
        </section>
        {%include "footer.html"%}
        {%include "bottom.html"%}
    </body>
</html>
